@use 'sass:color';
@use '../variables' as *;

.ant-input-affix-wrapper {
  background-color: $input-bg-color;
  border: none;
  border-radius: 4px;

  & > input.ant-input {
    background-color: $input-bg-color;
  }
}

.ant-input {
  background-color: $input-bg-color;
  border: none;
  border-radius: 4px;

  &:hover {
    border-color: $primary-color;
  }

  &:focus,
  &.ant-input-focused {
    border-color: $primary-color;
    box-shadow: 0 0 0 1px color.adjust($primary-color, $alpha: -0.8);
  }

  &-affix-wrapper {
    &:hover {
      border-color: $primary-color;
    }

    &:focus,
    &-focused {
      border-color: $primary-color;
      box-shadow: 0 0 0 1px $input-border-color;
    }
  }
}

.ant-input-affix-wrapper-focused {
  box-shadow: 0 0 0 1px $input-border-color;
}

.ant-input:focus,
.ant-input-focused {
  box-shadow: 0 0 0 1px $input-border-color;
}

.ant-form-item-has-error {
  & .ant-input-affix-wrapper {
    & > input.ant-input {
      background-color: $input-bg-error-color !important;
    }
  }

  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 1px $input-error-color !important;
  }
}

.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper,
.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input-affix-wrapper:hover {
  background: $input-bg-error-color !important;
  border-color: $input-error-color !important;
}
