@use '../variables' as *;
@use 'sass:color';

.ant-input-number {
  background-color: $input-bg-color;
  border: none;
  border-radius: $border-radius-base;

  & > input.ant-input {
    background-color: $input-bg-color;
  }

  &:hover {
    border-color: $primary-color;
  }
}

.ant-input-number-focused {
  box-shadow: 0 0 0 1px $input-border-color;
}

.ant-form-item-has-error .ant-input-number,
.ant-form-item-has-error .ant-picker {
  background-color: $input-bg-error-color !important;
  border-color: $input-border-error-color;
}

.ant-form-item-has-error .ant-input-number-focused,
.ant-form-item-has-error .ant-picker-focused,
.ant-form-item-has-error .ant-input-number:focus,
.ant-form-item-has-error .ant-picker:focus {
  border-color: $input-border-error-color;
  box-shadow: 0 0 0 1px $input-error-color !important;
}
