@use '../variables' as *;
@use 'sass:color';

.ant-tabs-bar {
  margin: 0;
  border-bottom: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $primary-color;
}

.ant-tabs-ink-bar {
  background: $primary-color;
}
